.ap-dom-unit-panel {
  position: absolute;
  bottom: 1rem;
  left: 20rem;
  right: 20rem;
  height: 6rem;

  & .ap-dom-unit-panel_action {
    &.ap-dom-unit-panel_action--all {
      background-color: aqua;
    }
    &.ap-dom-unit-panel_action--some {
      background-color: beige;
    }
  }
}