.ap-dom-game {
  position: relative;
  height: 100%;

  & .ap-dom-game_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background: black;
    color: white;
  }

  & .ap-dom-game_main {
    position: absolute;
    top: 3rem;
    bottom: 1rem;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  & .ap-dom-game_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: black;
    color: white;
  }
}