.ap-dom-app {
  height: 100%;
  overflow: hidden;
  position: relative;
  
  & .ap-dom-app_credits {
    position: absolute;
    pointer-events: none;
    bottom: 0.5rem;
    right: 1rem;
    font-style: italic;
    color: grey;
  }
}